.tasks-list {
  display: flex;
  flex-direction: column;
  margin: 20px 5%;
  min-width: 300px;
}

.text-center {
  display: flex;
  justify-content: center;
  color: #34495e;
  font-size: 1.3rem;
}

.task-button{
  align-self: center;
  background-color: #34495e;
  color: #fff;
  width: 90%;
  margin: 1% 5%;
  min-width: 300px;
}
